<div class="expand">
    <div class="expand-label" onMouseOver="this.style.color='rgb(28, 144, 243)'" onMouseOut="this.style.color='rgb(50, 50, 50)'" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-angle-double-down' : 'fas fa-angle-double-right';});});">
        <i style="font-size:xx-large;" class="fas fa-angle-double-right"></i>
        <span>
            <b>
        {{$expandMessage := T "Expand-title"}}
    	{{ if .IsNamedParams }}
    	{{.Get "default" | default $expandMessage}}
    	{{else}}
    	{{.Get 0 | default $expandMessage}}
        {{end}}
            </b>
    	</span>
    </div>
    <div class="expand-content" style="display: none;">
        {{.Inner | safeHTML}}
    </div>
</div>